body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #262928;
    color: #fff;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.cross-button, .info-button {
    position: absolute;
    top: 20px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cross-button {
    left: 20px;
}

.info-button {
    right: 20px;
}

.header-info {
    display: flex;
    gap: 10px;
    margin: 20px;
}

.info-box {
    background-color: #888;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(20, 30px);
    grid-gap: 2px;
    margin: 20px 0;
}

.grid-cell {
    width: 25px;
    height: 25px;
    background-color: orange;
    border: 2px solid #333;
}

.icon-bar {
    display: flex;
    gap: 10px;
    margin: 20px;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #888;
    border-radius: 5px;
    padding: 5px 20px;
}

.icon >p{
    padding-top: 10px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.icon img {
    width: 80px;
    height: 80px;
    cursor: grab;
}

/* Modal styles */
.modal {
    display: none; /* Initially hide the modal */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #262928;
    padding: 6rem;
    border: 1px solid #80262928;
    width: 80%;
    margin: 10% 5%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: white; /* Text color */
}

.modal-content h2 {
    font-size: 2.5rem; /* Adjust font size */
    margin: 0;
    margin-bottom: 1.5rem;
}

.modal-content p {
    font-size: 1.2rem; /* Adjust font size */
    margin: 0; /* Space around paragraphs */
}

.modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    gap: 15px;
}

.modal-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
}

#restartBtn{
    background-color: #ffa31a;
}

#menuBtn{
    background-color: red;
}

.modal-buttons button:hover {
    opacity: 0.7;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
}


#saveBtn{
    padding:8px;
    width:100px;
    border-radius:5px;
    background-color: #ffa31a;
    color:black;
    font-size:16px;
    cursor: pointer;
}

#loadBtn{
    padding:8px;
    width:100px;
    border-radius:5px;
    background-color: rgb(104, 255, 104);
    color:black;
    font-size:16px;
    cursor: pointer;
}


.savemodal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.savemodal-content {
    background-color: #262928;
    padding: 6rem;
    border: 1px solid #80262928;
    width: 80%;
    margin: 10% 5%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: white; /* Text color */
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.savemodal-content p{
    font-size: 20px;
}

#saveYesBtn{
    padding:8px;
    width:100px;
    border-radius:5px;
    background-color: rgb(104, 255, 104);
    color:black;
    font-size:16px;
    cursor: pointer;
}

#saveNoBtn{
    padding:8px;
    width:100px;
    border-radius:5px;
    background-color: red;
    color:black;
    font-size:16px;
    cursor: pointer;
    margin-left:30px;
    margin-top:30px;
}


.loadmodal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.loadmodal-content {
    background-color: #262928;
    padding: 6rem;
    border: 1px solid #80262928;
    width: 80%;
    margin: 10% 5%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: white; /* Text color */
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.loadmodal-content p{
    font-size: 20px;
}

#loadYesBtn{
    padding:8px;
    width:100px;
    border-radius:5px;
    background-color: rgb(104, 255, 104);
    color:black;
    font-size:16px;
    cursor: pointer;
}

#loadNoBtn{
    padding:8px;
    width:100px;
    border-radius:5px;
    background-color: red;
    color:black;
    font-size:16px;
    cursor: pointer;
    margin-left:30px;
    margin-top:30px;
}


.demolishmodal {
    position: fixed;
    background-color: #262928;
    border-radius: 10px;
    padding: 50px; /* Increased padding for more space */
    width: 300px; /* Increased width */
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Ensure it appears above other elements */
}

.demolishmodal-content {
    text-align: center;
}

.demolishmodal-content p {
    color: white;
    font-size: 20px; /* Adjust font size as needed */
    font-weight: bold;
    margin-top: 0;
}

.demolishmodal-btn-container {
    margin-top: 20px; /* Increased margin for button container */
}

.demolishmodal button {
    margin: 0 10px; /* Increased button margin */
    padding: 10px 20px; /* Increased button padding */
    cursor: pointer;
    border-radius: 5px;
    background-color: #ffa31a;
    border: none; /* Remove border to make it cleaner */
    font-weight: bold;
    font-size: 16px;
    color: white;
}
