body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.cross-button, .info-button {
    position: absolute;
    top: 20px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cross-button {
    left: 20px;
}

.info-button {
    right: 20px;
}

.header-info {
    display: flex;
    gap: 10px;
    margin: 20px;
}

.info-box {
    background-color: #888;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    margin: 20px 0;
}

.grid-cell {
    width: 50px;
    height: 50px;
    min-width: 25px;
    min-height: 25px;
    background-color: orange;
    border: 2px solid #333;
}

.icon-bar {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.icon img {
    width: 80px;
    height: 80px;
    border: 2px solid #888;
    border-radius: 5px;
}

.gridImg{
    width: 50px;
    height: 50px;
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
}


#saveButton{
    padding:8px;
    width:100px;
    border-radius:5px;
    background-color: #ffa31a;
    color:black;
    font-size:16px;
    cursor: pointer;
}

#loadButton{
    padding:8px;
    width:100px;
    border-radius:5px;
    background-color: rgb(104, 255, 104);
    color:black;
    font-size:16px;
    cursor: pointer;
}


.savemodal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.savemodal-content {
    background-color: #262928;
    padding: 6rem;
    border: 1px solid #80262928;
    width: 80%;
    margin: 10% 5%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: white; /* Text color */
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.savemodal-content p{
    font-size: 20px;
}

#saveYesBtn{
    padding:8px;
    width:100px;
    border-radius:5px;
    background-color: rgb(104, 255, 104);
    color:black;
    font-size:16px;
    cursor: pointer;
}

#saveNoBtn{
    padding:8px;
    width:100px;
    border-radius:5px;
    background-color: red;
    color:black;
    font-size:16px;
    cursor: pointer;
    margin-left:30px;
    margin-top:30px;
}


.loadmodal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.loadmodal-content {
    background-color: #262928;
    padding: 6rem;
    border: 1px solid #80262928;
    width: 80%;
    margin: 10% 5%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: white; /* Text color */
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.loadmodal-content p{
    font-size: 20px;
}

#loadYesBtn{
    padding:8px;
    width:100px;
    border-radius:5px;
    background-color: rgb(104, 255, 104);
    color:black;
    font-size:16px;
    cursor: pointer;
}

#loadNoBtn{
    padding:8px;
    width:100px;
    border-radius:5px;
    background-color: red;
    color:black;
    font-size:16px;
    cursor: pointer;
    margin-left:30px;
    margin-top:30px;
}

.quitmodal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.quitmodal-content {
    background-color: #262928;
    padding: 6rem;
    border: 1px solid #80262928;
    width: 80%;
    margin: 10% 5%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: white; /* Text color */
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.quitmodal-content p {
    font-size: 20px;
}

#quitSaveYesBtn, #quitSaveNoBtn, #quitCancelBtn {
    padding: 8px;
    width: 100px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

#quitSaveYesBtn {
    background-color: rgb(104, 255, 104);
    color: black;
}

#quitSaveNoBtn {
    background-color: red;
    color: black;
}

#quitCancelBtn {
    background-color: #ffa31a;
    color: black;
}


.demolishmodal {
    position: fixed;
    background-color: #262928;
    border-radius: 10px;
    padding: 50px; /* Increased padding for more space */
    width: 300px; /* Increased width */
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Ensure it appears above other elements */
}

.demolishmodal-content {
    text-align: center;
}

.demolishmodal-content p {
    color: white;
    font-size: 20px; /* Adjust font size as needed */
    font-weight: bold;
    margin-top: 0;
}

.demolishmodal-btn-container {
    margin-top: 20px; /* Increased margin for button container */
}

.demolishmodal button {
    margin: 0 10px; /* Increased button margin */
    padding: 10px 20px; /* Increased button padding */
    cursor: pointer;
    border-radius: 5px;
    background-color: #ffa31a;
    border: none; /* Remove border to make it cleaner */
    font-weight: bold;
    font-size: 16px;
    color: white;
}


#gameOverModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #262928;
    padding: 6rem;
    border: 1px solid #80262928;
    width: 80%;
    margin: 10% 5%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: white; /* Text color */
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.quitmodal-content p {
    font-size: 20px;
}

#restartBtn, #menuBtn{
    padding: 8px;
    width: 100px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

#restartBtn {
    background-color: rgb(104, 255, 104);
    color: black;
}


#menuBtn {
    background-color: #ffa31a;
    color: black;
}